.main {
    padding: 30px;
}

.form-container {
    margin-bottom: 20px;
}

.form-card {
    width: 80%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submission-card {
    margin-top: 10px;
    background-color: #f9f9f9;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 4px 14px 0px;
}